<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular7</h1>
            <!-- <form role="form"> -->
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" placeholder="Usuario" [(ngModel)]="user">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" placeholder="Contraseña" [(ngModel)]="password">
                    </div>
                    <div class="form-group">
                        <button type="button" class="form-control btn rounded-btn" (click)="onLoggedin()">Entrar</button>
                    </div>
                </div>
            <!-- </form> -->
        </div>
    </div>
</div>

<p-toast position="center"></p-toast>
